{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
    </script>

</head>

<body style="margin: 10px;">
<div class="container-fluid">
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/invapp/intro">GLAMOD Inventory App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/invapp/intro">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/invapp/inventory/add/">Add a record</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inventories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">High-level inventory</a>
          <a class="dropdown-item" href="/invapp/inventories/source-level">Source-level inventory</a>
          <a class="dropdown-item" href="/invapp/inventories/station-level">Station-level inventory</a>
        </div>
      </li>
    </ul>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
{% endblock %}

    <div class="row">
        <div class="col-sm-1">
            {% block sidebar %}
            <nav class="sidebar bg-light">
                <h4 class="nav">Contacts</h4>
                <a class="nav-link" href="/invapp/contact/" data-toggle="tooltip" data-placement="right" title="View all contacts">View</a>
                <a class="nav-link" href="/invapp/contact/add/" data-toggle="tooltip" data-placement="right" title="Add single contact via form">Add</a>
                <a class="nav-link" href="/invapp/contact/upload/" data-toggle="tooltip" data-placement="right" title="Upload multiple contacts from csv">Upload</a>
                <a class="nav-link" href="/invapp/contact/edit/" data-toggle="tooltip" data-placement="right" title="Edit single contact">Edit</a>
                <a class="nav-link" href="" data-toggle="tooltip" data-placement="right" title="Export all contacts to csv">Export</a>
                <a class="nav-link" href="" data-toggle="tooltip" data-placement="right" title="Search contacts">Search</a>
                <h4>Source</h4>
                <a class="nav-link" href="/invapp/inventory/" data-toggle="tooltip" data-placement="right" title="View all source records">View</a>
                <a class="nav-link" href="/invapp/inventory/nuim/" data-toggle="tooltip" data-placement="right" title="View all source records">NUIM View</a>
                <a class="nav-link" href="/invapp/inventory/add/" data-toggle="tooltip" data-placement="right" title="Add single source record">Add</a>
                <a class="nav-link" href="/invapp/inventory/upload/" data-toggle="tooltip" data-placement="right" title="Upload multiple source records from Excel file">Upload</a>
                <a class="nav-link" href="/invapp/inventory/edit/" data-toggle="tooltip" data-placement="right" title="Edit single source record">Edit</a>
                <a class="nav-link" href="" data-toggle="tooltip" data-placement="right" title="Export all source records to csv">Export</a>
                <a class="nav-link" href="" data-toggle="tooltip" data-placement="right" title="Search sources">Search</a>
                <h4>Vocabulary</h4>
                <a class="nav-link" href="" data-toggle="tooltip" data-placement="right" title="">Role</a>
                <a class="nav-link" href="" data-toggle="tooltip" data-placement="right" title="">Spatial domain</a>
                <a class="nav-link" href="" data-toggle="tooltip" data-placement="right" title="">Geometry type</a>
                <a class="nav-link" href="" data-toggle="tooltip" data-placement="right" title="">CRS</a>
            </nav>
            {% endblock %}
        </div>
        <div class="col-sm-11">
            <h1>{% block title %} __TITLE_GOES_HERE__ {% endblock %}</h1>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</html>
