{% extends "base.html" %}

{% block title %}
    Full Inventory 
{% endblock %}

{% block content %}

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">Record</th>
    </tr>
  </thead>
  <tbody>

  {% for record in records %}
    <tr>
        <td>
            <a href='/invapp/record/{{ record.pk }}'>{{ record }}</a>
            [<a href="/invapp/export/xml/{{ record.pk }}.xml">GEMINI2 / ISO19139 (XML)</a>]
       </td>
    </tr>
    {% empty %}
    <tr>
        <td>No records found.</td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}

