{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    The GLAMOD Inventory App
{% endblock %}

{% block content %}
    <p>This app is used to manage high-level information about the data/metadata stored in the 
       Global Land and Marine Observations Database (GLAMOD). With three key views:</p>
    <ol>
        <li>High-level inventory [<a href='#'>html</a>] [<a href='#'>xml (GEMINI2 / ISO19139)</a>]</li>
        <li>Source-level inventory [<a href='/invapp/inventories/source-level'>html</a>] [<a href='#'>xml (GEMINI2 / ISO19139)</a>]</li>
        <li>Station-level inventory [<a href='#'>html</a>] [<a href='#'>xml (GEMINI2 / ISO19139)</a>]</li>
    </ol>
{% endblock %}

