{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Create a new '{{ name }}' record Hello world!
{% endblock %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <!-- <h3 class="panel-title">Add an inventory record</h3> -->
        </div>
        <div class = "panel-body">
            {% if id %}
            <form action="/invapp/inventory/edit/{{ id }}" class="uniForm" method="post">
            {% else %}
            <form action="/invapp/inventory/add/" class="uniForm" method="post">
            {% endif %}
                {% crispy inventory inventory.helperNoSubmit %}
                {% crispy history %}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div>
            {{ inventory.errors }}
            {{ history.errors }}
        </div>
    </div>
{% endblock %}

