{% extends "base.html" %}
{% load invapp_filters %}

{% block title %}
    Records: {{ obj|to_class_name }}

    {% if record|to_class_name == 'Inventory' %}
    [<a href="/invapp/export/xml/{{ record.pk }}.xml">GEMINI2 / ISO19139 (xml)</a>]
    {% endif %}

{% endblock %}

{% block content %}
    <h2>Details</h2>

<table class="table table-sm table-striped">
  <thead>
    <tr>
        <!--  get field names and set as table header   -->
        {% for field_name in obj|get_field_names %}
        <th scope="col">{{field_name}}</th>
        {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for record in obj|get_all %}
    <tr>
        {% for field in record|get_fields %}
        <td>
            {% if field.1.url %}
            <a href="{{ field.1.url }}">{{ field.1.value }}</a>
            {% else %}
            {{ field.1.value }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

